<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of _data">
      <td>{{row.id}}</td>
      <td>{{row.date}}</td>
    </tr>
  </tbody>
</table>