#contact-form {
    max-width: 350px;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

#contact-form .form-group {
}

#contact-form .form-group label {
    display: block;
    color: #000;
}

#contact-form .form-group input {
    border: 1px solid #d0d0d0;
    border-radius: .3rem;
    padding: 0.6rem 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    transition: border 300ms ease;
}

#contact-form .form-group input:focus {
    border: 1px solid #3333CC;
}

.btn {
    color: #FFF;
    padding: 0.6rem;
    background: #3333CC;
    border: none;
    outline: none;
    border-radius: .3rem;
    max-width: 5rem;
    cursor: pointer;
    transition: background-color 300ms ease;
}

.btn:disabled {
    background: #d0d0d0;
}

.btn:not(:disabled):hover {
    background: rgb(45, 45, 183);
}

.btn:active {
    background: rgb(40, 40, 165);
}