<form id="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
  <div class='form-group'>
    <label>Name: </label>
    <input class='form-control' formControlName="name">

    <label>E-mail: </label>
    <input class='form-control' formControlName="email">

    <label>Text: </label>
    <input class='form-control' formControlName="text">
  </div>

  <button type="submit" [disabled]="!contactForm.valid" class='btn'>Save</button>
</form>