<div class='table-container'>
  <pre>Execution time: {{_execTime.end - _execTime.start}} ms</pre>
  <pre>Visible records count: {{_data.length}}</pre>
  <pre>Overall records: 500000</pre>
  <input placeholder="Search" (keyup)="filterTable($event)">

  <button (click)="changePage(-1)" title="Previous page"><<</button>
  <button (click)="changePage(1)" title="Next page">>></button>

  <table *ngIf="_data">
    <thead>
      <tr>
        <th title="Sort by ID" (click)="sortByProperty('id')">ID</th>
        <th title="Sort by Seed" (click)="sortByProperty('seed')">SEED</th>
      </tr>
    </thead>

    <tbody *ngIf="_data.length > 0;else notFound">
      <tr *ngFor="let row of _data">
        <td>{{row.id}}</td>
        <td>{{row.seed}}</td>
      </tr>
    </tbody>
    <ng-template #notFound>
      <tbody>
        <tr><td colspan="2" align="center">Not found</td></tr>
      </tbody>
    </ng-template>
  </table>
</div>