.table-container {
    width: 350px;
    margin: auto;
}

input {
    min-width: 100%;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td {
    padding: 5px 50px;
    border: 1px solid #d0d0d0;
}

table th { cursor: pointer; }