<div class='layout'>
  <div class='col-3'></div>
  <div class='col-3'></div>
  <div class='col-3'></div>
  <div class='col-1'></div>

  <div class='col-4'></div>
  <div class='col-4'></div>
  <div class='col-4'></div>
  <div class='col-4'></div>
</div>