
$class: col !default;
$color: ('red', 'blue', 'green', 'yellow');

@mixin grid($number) {
    @for $c from 1 through $number {
        &--#{$c} {
            position: relative;
            flex-basis: 100% / $number * $c;
            flex-shrink: 0;
            flex-grow: 0;
            background-color: unquote(nth($color, $c));
        }
    }
}

@for $i from 1 through 4 {
    .#{$class}-#{$i} {
        position: relative;
        flex-basis: 100% / $i;
        flex-shrink: 0;
        flex-grow: 0;
        background-color: unquote(nth($color, $i)); 
    }
}

.layout {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    @include grid(4);
}