/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}