<button class='btn --hamburger-button' (click)="_drawerOpened = true"></button>
<div class='drawer' [attr.opened]="_drawerOpened">
  <button class='btn --close-btn' (click)='toggleDrawer()'></button>
  <h1>Drawer</h1>
</div>